<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>333446124310-kecuqlp3b5vser1p33cf7mgheqa55j1s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.333446124310-kecuqlp3b5vser1p33cf7mgheqa55j1s</string>
	<key>API_KEY</key>
	<string>AIzaSyAMdOvqLq3jaZKa40Xhn0WNX1pB0daga6E</string>
	<key>GCM_SENDER_ID</key>
	<string>333446124310</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.matchpoze.SwiftfulFirebaseBootcamp</string>
	<key>PROJECT_ID</key>
	<string>swiftfulfirebasebootcamp-bde23</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftfulfirebasebootcamp-bde23.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:333446124310:ios:9548b32ed1d42225d0b637</string>
</dict>
</plist>