<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key></key>
	<string></string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.333446124310-kecuqlp3b5vser1p33cf7mgheqa55j1s</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>333446124310-kecuqlp3b5vser1p33cf7mgheqa55j1s.apps.googleusercontent.com</string>
</dict>
</plist>
